section{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 97vw;
    height: auto;
    position: absolute;
    text-align: center;
    top: -90px;
}
body{
    background-color: hotpink;
    
}
h1.afte{
    -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-top: 20% !important;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible {
    visibility: hidden;
    transition: 1s linear;
}
.visible {
    visibility: visible;
    transition: 1s linear;
}
button{
    position: absolute;
    font-family: "Pacifico", cursive;
    font-size: 1.2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    background-color: #8400ff;
    border: solid 2px #5901aa;
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
}
button:active{
    box-shadow: rgba(158, 24, 24, 0) 0px 7px 50px 0px;

}
